@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #f0f0f0;
}
nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav>a, nav>div>a{
    text-decoration: none;
    color: white;
    margin-inline: 10px;
}
#books, #register{
    display: flex;
    justify-content: center;
    width: 100vw;
}
#books-id, #register-div{
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px darkgray;
    padding: 10px;
    background-color: white;
}
#books-heading, #register-div>h3{
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
}
table, td, th{
    border: 2px solid #ececec;
    border-collapse: collapse;
    color: #2c2c2c;
}
td, th{
    padding: 10px;
}
td>a{
    color: #220fbc;
    display: inline-block;
    padding-bottom: 10px;
}
#register-div{
    width: 648px;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
}
input{
    border: 2px solid #ececec;
    padding: 5px;
}
button{
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
    margin-top: 20px;
    padding: 10px;
}
